* {
    margin: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
    border: 1px dolid black;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}


/* Lists/navigation/menus */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

a {
    text-decoration: none;
}


/**************  header  ***********/

header {
    background-image: url(../images/head.jpg);
    height: 200px;
}

header ul {
    float: right;
    display: inline-block;
}

form {
    display: inline-block;
}

.login {
    float: left;
    padding: 4px;
}

.login a {
    font-weight: bold;
}


/**************  nav  ***********/

nav div {
    display: flex;
    justify-content: center;
}

.menu {
    float: left;
    font-weight: bold;
    position: relative;
    width: 150px;
    height: 50px;
}

.menu p {
    text-align: center;
    line-height: 50px;
}


.menu-2 {
    font-weight: bold;
    width: 150px;
    height: 40px;
}

.menu ul {
    position: absolute;
    display: none;
}

.menu:hover ul {
    display: block;
}

.menu ul li {
    display: block;
}

#search-2 {
    display: none;
}

#search-2 form input{
    width: 150px;
    height: 20px;
    position: absolute;
    
}

#search-1, #search-2 {
    border: none;
}

/**************  section  ***********/

section p {
    text-align: center;
}

.cover {
    width: 60%;
    display: inline inline-block;
}

table {
    margin-right: auto;
}

.table-1 {
    float: left;
    font-weight: 400;
}

.table-2 {
    float: right;
    font-weight: 400;
}

#product-details table {
    width: 100%
}


#product-details  tr{
    font-size: 20px
}

section ul {
    display: inline-block;
    vertical-align: top;
    float:right;
}

section li {
    position: relative;
    margin-bottom: 35%;
}

section li span {
    visibility: hidden;
    width: 120px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}


section li:hover span {
    visibility: visible;
}

.rating-stars {
    display: inline-block;
    cursor: pointer;
}

.rating-stars i {
    font-size:30px;
}

.full-stars {
    display: none;
}

/**************  aside  ***********/

aside div {
    width: 50px;
    height: 50px;
    cursor:pointer;
    position: fixed;
    border-radius: 0px 10px 10px 0px;
}

aside div i {
    width: 60px;
    height: 50px;
    font size: 100px;
    position: relative;
}

aside div ul{
    position: absolute;
    display: none;
}

aside li {
    width: 60px;
    height: 50px;
    border: 2px solid black;
}

aside div:hover ul {
    display: block;
}

aside div:hover {
    border-radius: 0px;
    width: 60px;
}

/**************  footer  ***********/

footer ul li {
    text-align: center;
}

footer ul li {
    text-align: center;
}


/*main page only*/

#main-content {
    height: 600px;
}

/*browse catalog style only */

.flex-container {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-item {
    background-color: cornflowerblue;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    background-size: 300px 300px;
}



.flex-item:nth-child(1) {
    background-image: url(../images/damn.jpg);
}

.flex-item:nth-child(2) {
    background-image: url(../images/godfather.jpg);
}

.flex-item:nth-child(3) {
    background-image: url(../images/forever.jpg);
}

.browse-cover {
    width: 100%;
    display: block;
}

.flex-item p {
    float: left;
    color: blue;
    font-weight: 500;
    font-size: 30px;
    margin-top: 270px;
    background-color: aliceblue;
    display: none;
}

.flex-text {
    //visibility: hidden;
}


.flex-item:hover {
    filter: blur(3px);
}

.flex-item:hover p {
    display: inline-block;
}
/* colors */

