* {
    margin: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

body {
    background-color: #08D9D6;
}


/* Lists/navigation/menus */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

a {
    text-decoration: none;
    color:#FF2E63;
}

#hi ul {
    float: right;
    display: inline-block;
}

form {
    display: inline-block;
}

.login {
    float: left;
    padding: 4px;
}

.login a {
    color: #FF2E63;
    font-weight: bold;
}

#menu {
    background-color: #252A34;
    padding: 0px;
    height: 50px;
}

.menu {
    float: left;
    border-right: 3px solid #FF2E63;
}

.menu:last-child{
    border:none;
}
.menu li {
    border:none;
}

.menu a {
    padding-right: 8px
}

.menu:hover {
    border: 2px solid #FF2E63;
}

.menu {
    font-weight: bold;
}

.menu ul {
    position: absolute;
    //display: none;
    background-color: #252A34;
    
}
.menu:hover ul {
    display: block;
}
.menu ul li{
    display: block;
}


footer ul li {
    text-align: center;
}

#hi {
    background-image: url(../images/head.jpg);
    height: 200px;
}

section p {
    text-align: center;
}

.cover {
    width: 80%;
    display: block;
    margin: 0 auto;
}
/* section*/
table {
    margin-right: auto;
}
.table-1{
    float: left;
    color:#FF2E63;
    font-weight: 400;
}
.table-2{
    float:right;
    color:#FF2E63;
    font-weight: 400;
}
/*aside */

footer {
    border-top: 2px solid #FF2E63;
}

footer div:first-child ul{
    border-right: 2px solid #252A34;
}

.search-button {
    display: inline-block;
    color:red;
}